<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons color="primary">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-buttons>

    </ion-buttons>

    <ion-buttons slot="end">
     
      <ion-buttons routerLink="/signup">
        Sign Up
      </ion-buttons>
    </ion-buttons>
    

  </ion-toolbar>
</ion-header>

<ion-content>
<div id="header">
  <h1>Fis Shopping Application</h1>
  <img src="assets/fis.PNG" alt="Fis logo"/>
</div>
<form id="#form" name="form">
  <ion-input [(ngModel)]='postData.email' placeholder="Username" name="email"></ion-input>
  <ion-input [(ngModel)]='postData.password' type="password" placeholder="Password" name="password"></ion-input>
  <ion-button  (click)="loginact()" expand="block" shape="round" >
   Log In
  </ion-button>
  
</form>
</ion-content>
